body{
	/*background-image: url(images/fal.jpg);'*/
}

a{
	color: green;
	font-size: 16px;
}

.massage{
	color: #747474;
	background-color: #e4e4e4;
	border: 1px solid #323232;
	font-size: 20px;
	margin-bottom: 10px; /*Внешний отсуп*/
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.success {
	background-color: #19a15f;
	color: #ffffff;
}

.fail{
	background-color: #FF0000;
	color: #ffffff;
}

.info{
	background-color: #4b8bf5;
	color: #FFFFFF;
}

.massage:hover{
	border: 1px solid #323232;
	padding-left: 25px;
}

#css3{
	/**/
	
	background-color: #EDEDED;
	color: #000000; 
	font-size: 30px;
	font-weight: 400px;
	border: 3px solid #808080;
	border-radius: 10px;
	maring: 5px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	opacity: 1; /*Прозрачность*/
	box-shadow: 3px 3px 10px #000000;/*Тень*/
	width: 50%; 
	margin-left:;
	display: block; /*Видимость элемента*/
	text-align: left;

}

#css3:hover{
	transition: 25s all;
	background-color: red;
	transform: rotate(360000deg);
	
	
}
